- film tablosunda bulunan rental\_rate sütunundaki değerlerin ortalaması nedir?

In [1]:
SELECT AVG(rental_rate) FROM film;

avg
2.9800000000000000

- film tablosunda bulunan filmlerden kaç tanesi 'C' karakteri ile başlar?

In [2]:
SELECT COUNT(title) FROM film
WHERE title LIKE 'C%';

count
92

- film tablosunda bulunan filmlerden rental\_rate değeri 0.99 a eşit olan en uzun (length) film kaç dakikadır?

In [3]:
SELECT MAX(length) FROM film
WHERE rental_rate = 0.99;

max
184

- film tablosunda bulunan filmlerin uzunluğu 150 dakikadan büyük olanlarına ait kaç farklı replacement\_cost değeri vardır?

In [4]:
SELECT DISTINCT COUNT(replacement_cost) 
FROM film
WHERE length > 150;

count
242