- film tablosunda bulunan replacement\_cost sütununda bulunan birbirinden farklı değerleri sıralayınız.

In [6]:
SELECT DISTINCT replacement_cost FROM film;

replacement_cost
18.99
15.99
29.99
14.99
25.99
23.99
12.99
16.99
28.99
27.99
21.99
10.99
24.99
11.99
17.99
13.99
20.99
22.99
9.99
26.99
19.99

- film tablosunda bulunan replacement\_cost sütununda birbirinden farklı kaç tane veri vardır?

In [7]:
SELECT COUNT (DISTINCT replacement_cost) FROM film;

count
21

- film tablosunda bulunan film isimlerinde (title) kaç tanesini T karakteri ile başlar ve aynı zamanda rating 'G' ye eşittir?

In [8]:
SELECT COUNT (title) FROM film
WHERE title LIKE 'T%' AND rating = 'G';

count
9

- country tablosunda bulunan ülke isimlerinden (country) kaç tanesi 5 karakterden oluşmaktadır?

In [9]:
SELECT COUNT (country) FROM country
WHERE country LIKE '_____';

count
13

- city tablosundaki şehir isimlerinin kaç tanesi 'R' veya r karakteri ile biter?

In [10]:
SELECT COUNT (city) FROM city
WHERE city LIKE '%r' OR city LIKE '%R'

count
33