- film tablosunda bulunan title ve description sütunlarındaki verileri sıralayınız.

In [ ]:
SELECT title, description 
FROM film;

- film tablosunda bulunan tüm sütunlardaki verileri film uzunluğu (length) 60 dan büyük VE 75 ten küçük olma koşullarıyla sıralayınız.

In [ ]:
SELECT * 
FROM film 
WHERE length BETWEEN 60 AND 75;

- film tablosunda bulunan tüm sütunlardaki verileri rental\_rate 0.99 VE replacement\_cost 12.99 VEYA 28.99 olma koşullarıyla sıralayınız.

In [ ]:
SELECT * 
FROM film
WHERE rental_rate = 0.99 AND (replacement_cost = 12.99 or replacement_cost = 28.99);

- customer tablosunda bulunan first\_name sütunundaki değeri 'Mary' olan müşterinin last\_name sütunundaki değeri nedir?

In [ ]:
SELECT last_name 
FROM customer
WHERE first_name = 'Mary';

- film tablosundaki uzunluğu(length) 50 ten büyük OLMAYIP aynı zamanda rental\_rate değeri 2.99 veya 4.99 OLMAYAN verileri sıralayınız.

In [ ]:
SELECT * 
FROM film
WHERE length <= 50 AND (rental_rate <> 2.99 AND rental_rate <> 4.99)