- city tablosu ile country tablosunda bulunan şehir (city) ve ülke (country) isimlerini birlikte görebileceğimiz LEFT JOIN sorgusunu yazınız.

In [2]:
SELECT city, country
FROM city
LEFT JOIN country
ON country.country_id = city.country_id;

: relation "city" does not exist

- customer tablosu ile payment tablosunda bulunan payment\_id ile customer tablosundaki first\_name ve last\_name isimlerini birlikte görebileceğimiz RIGHT JOIN sorgusunu yazınız.

In [ ]:
SELECT payment_id, first_name, last_name
FROM payment
RIGHT JOIN customer
ON payment.customer_id = customer.customer_id;

### 

- customer tablosu ile rental tablosunda bulunan rental\_id ile customer tablosundaki first\_name ve last\_name isimlerini birlikte görebileceğimiz FULL JOIN sorgusunu yazınız.

In [ ]:
SELECT rental_id, first_name, last_name
FROM rental
FULL JOIN customer
ON rental.customer_id = customer.customer_id;