- actor ve customer tablolarında bulunan first\_name sütunları için tüm verileri sıralayalım.

In [ ]:
SELECT first_name FROM actor
UNION ALL
SELECT first_name FROM customer;

- actor ve customer tablolarında bulunan first\_name sütunları için kesişen verileri sıralayalım.

In [ ]:
SELECT first_name FROM actor
INTERSECT
SELECT first_name FROM customer;

- actor ve customer tablolarında bulunan first\_name sütunları için ilk tabloda bulunan ancak ikinci tabloda bulunmayan verileri sıralayalım.

In [ ]:
SELECT first_name FROM actor
EXCEPT
SELECT first_name FROM customer;

- İlk 3 sorguyu tekrar eden veriler için de yapalım.

In [ ]:
SELECT first_name FROM actor
EXCEPT ALL
SELECT first_name FROM customer;