- film tablosunda bulunan ve film ismi (title) 'n' karakteri ile biten en uzun (length) 5 filmi sıralayınız.

In [1]:
SELECT title, length FROM film
WHERE title LIKE '%n'
ORDER BY length DESC
LIMIT 5;

title,length
Soldiers Evolution,185
Sorority Queen,184
King Evolution,184
Frontier Cabin,183
Wife Turn,183

- film tablosunda bulunan ve film ismi (title) 'n' karakteri ile biten en kısa (length) ikinci(6,7,8,9,10) 5 filmi(6,7,8,9,10) sıralayınız.

In [2]:
SELECT title, length FROM film
WHERE title LIKE '%n'
ORDER BY length 
OFFSET 5
LIMIT 5;

title,length
Jekyll Frogmen,58
Daughter Madigan,59
Room Roman,60
Camelot Vacation,61
Birds Perdition,61

- customer tablosunda bulunan last\_name sütununa göre azalan yapılan sıralamada store\_id 1 olmak koşuluyla ilk 4 veriyi sıralayınız.

In [3]:
SELECT last_name FROM customer
WHERE store_id = 1
ORDER BY last_name DESC
LIMIT 4;

last_name
Young
Yanez
Wyman
Woods